<div class="row-fluid marketing">
  <h1 class="lead">
    <%= @post['title'] %>
  </h3>
  <h3>
    <%= @post['summary'] %>
  </h3>

  <br>

  <p>
    <%= @post['content'] %>
  </p>

  <hr>

  <br>

  <code>
    <%= @post['created_date'] %>
  </code>
</div>

<div class="row-fluid marketing">
  <h4>
    Comments
  </h4>

  <br>

  <% @comments.each do |comment| %>
    <p>
      <%= comment['content'] %>
    </p>
    <hr>
    <br>
    <code>
      <%= comment['created_date'] %>
      by <%= comment['name'] %>
    </code>
  <% end %>

</div><!-- /marketing -->

<div class="row-fluid marketing">

  <% if @message && @message.length > 0 then %>
    <div class="alert" role="alert">
      <%= @message %>
    </div>
  <% end %>

  <h3>
    Add a comment
  </h3>

  <br>

  <form class="form-horizontal" action="/comments/<%= @post['id'] %>" method="post">
    <div class="control-group">
      <label class="control-label" for="inputName">Name</label>
      <div class="controls">
        <input type="text" id="inputName" name="name" value="<%= @name %>" placeholder="Type your name" required>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputComment">Comment</label>
      <div class="controls">
        <textarea id="inputComment" name="content" value="<%= @comment %>" rows="3" placeholder="Type a comment text here" required></textarea>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox"> I'm not a robot
        </label>
        <button type="submit" class="btn">Add Comment</button>
      </div>
    </div>
  </form>
</div><!-- /marketing -->