<div class="blog-post">

  <h2 class="blog-post-title">
    <%= @p.title %>
  </h2>
  <p class="blog-post-meta">
    <%= @p.created_at %>
  </p>
  <p>
    <%= @p.content %>
  </p>

  <h3>
    Comments:
  </h3>

  <% @p.comments.each do |comment| %>
    <div class="blog-post">
      <p class="blog-post-meta">
        <%= comment.created_at %>
        by <a href="#"><%= comment.name %></a>
      </p>
      <p>
        <%= comment.content %>
      </p>
    </div>
  <% end %>

  <hr>

  <form action="/comments/<%= @p.id %>" method="post">
    <input type="hidden" name="comment[post_id]" value="<%= @p.id %>">
    <div class="form-group">
      <label for="commentName">Name</label>
      <input type="text" class="form-control" id="commentName" name="comment[name]" value="<%= @c.name %>" placeholder="Type your name" required>
    </div>
    <div class="form-group">
      <label for="commentContent">Comment</label>
      <textarea class="form-control" id="commentContent" name="comment[content]" rows="3" placeholder="Type a comment text here" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Add Comment</button>
  </form>

</div>